# Ignorar dependencias si decides usar npm en el futuro
/node_modules/
dist/
build/

# Archivos temporales del sistema
.DS_Store
Thumbs.db

# Configuración local
*.env
*.log

# Archivos sensibles (usuarios, precios en prod si migras a backend)
usuarios.json
precios_base.json
